html{
    font-family: 'Open Sans', sans-serif;
}
#wrapper{
    display: grid;
}
@media(min-width: 320px){
    
    header{
        background-color: #fca311;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Red Hat Mono', monospace;
        color: #14213d;
        
    }
    #linkedin{
        margin-left: 85%;  
        margin-top: 2%;  
    }
    #linkedlogo{
        max-width: 70%;

    }
    header>img{
        max-width: 40%;
        border-radius: 100%;
        margin-top: -6%;
    }
    header>h1{
        margin: auto;
        font-size: 9vw;
        font-weight: 500;
    }
    header>h2{
        margin: auto;
        margin-bottom: 5%;
        font-size: 7vw;
        font-weight: 500;
    }
    nav{
        background-color: #14213d;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        color: #fca311;
        padding: 5% 0;
    }
    .button{
        border: #fca311 solid 2px;
        padding: 2% 3%;
        font-weight: 500;
        font-size: .9rem;
        width: 24%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        height: 80%;
    }
    /* REMEMBER YOU PUT :HOVER AND :ACTIVE HERE */
    .button:link, .button:visited, .button:hover, .button:active{
        color: #fca311;
        text-decoration: none;
    }
    section{
        background-color: #14213d;
        /* Strictly so I can remove that pesky 1px line */
        margin-top: -1%; 
        width: 100%;
    }
    #herocontainer{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #heroimage{
        width: 90%;
    }
    #heroimagetext{
        color: #fca311;
        font-family: 'Red Hat Mono', monospace;
        font-size: 1.2rem;
        align-self: flex-start;
        margin-left: 10%;
        margin-top: -8%;
    }

}